<div>
<h3>Format Spreadsheet</h3>
        <ul>
            <li>Pulls data into a table</li>
            <li>Ingores blank rows</li>
            <li>Ignores empty columns (ignoring headers)</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button class="choose" mat-raised-button color="primary">Format</button>
        <button class="choose" mat-raised-button color="primary">Export</button>
</div>

